<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Pregunta <%= @question.id %></h2>
    <p><strong>Title: </strong><%= @question.title %></p>
    <p><strong>Body:</strong></p>
    <p><%= @question.body %></p>
    <div>
      <% if logged_in? %>
        <%= link_to "Editar", edit_question_path(@question) %> |
      <% end %>
      <%= link_to "Volver", questions_path %>
    </div>

    <br>
    <h4>Votos</h4>
    <%= render 'votes/votes', votable: @question,
                              c_url_path: question_votes_path(@question),
                              d_url_path: question_vote_path(@question) %>

    <br>
    <h4>Comentarios:</h4>
    <%= render 'comments/comment', commentable: @question %>
    <br>
    <%= render 'comments/form', commentable: @question, url_path: question_comments_path(@question) %>

    <br>
    <h3>Respuestas:</h3><br>
    <%= render 'answers/form', question: @question, answer: @answer, action: "Responder" %>

    <% @answers.each do |answer| %>
      <%= render 'answers/answer', answer: answer %>
    <% end %>

  </div>
</div>
