<div data-id="<%= answer.id %>">
  <div><%= markdown answer.body %></div>
  <div>
    <% if logged_in? && answer.user == current_user %>
      <%= link_to " <span class='glyphicon glyphicon-pencil'></span> Editar"
        .html_safe,
        edit_question_answer_path(answer.question, answer) %> |
      <%= link_to " <span class='glyphicon glyphicon-trash'></span> Eliminar"
        .html_safe,
        question_answer_path(answer.question, answer),
        method: :delete,
        data: { confirm: "¿Estás seguro de eliminar esta respuesta?" } %>
    <% end %>
  </div>
</div>

<br>
<h5>Votos:</h5>
<%= render 'votes/votes', votable: answer,
                          c_url_path: question_answer_votes_path(answer.question, answer),
                          d_url_path: question_answer_vote_path(answer.question, answer) %>

<br>
<h5>Comentarios:</h5>
<%= render 'comments/comment', commentable: answer %>
<br>
<%= render 'comments/form', commentable: answer,
                            url_path: question_answer_comments_path(answer.question, answer) %>
<br>
